body {
    text-align: center;
	overflow-y:scroll;
}
       
#lomake{
	line-height: 1.3;
	margin-left: 22%
}	   
	   
.center{
    top: 5%;
    left: 37%;
    color: black;
    font-size: 15px ;
    position: fixed;
}

h1{       
    font-style:italic;
    font-size: 10px;
    text-align: 900px;   
}

@media screen and (max-width: 908px) {
	.center{
		top: 16%;
		left: 25%;
		float:left;
	}	
	
	#lomake{
	line-height: 1.1;
	margin-left: 0%
}	   
	
}